<p><h1>Hi, <%=@user.username%></h1></p>

  <% @user.requests.each do |request| %>
    <%= request.day.dayoff %>
    <%= request.reason %>
  <% end %>

  <h3>Log Days</h3>
    <%= form_for @request do |f| %>

      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.date_select(:dayoff, :order => [:month, :day, :year]) %>
      <%= f.text_field :reason %>
      <%= f.submit %>
<% end %>
