<p><h1>Hi, <%=@user.username%></h1></p>

  <h3>Log Days</h3>
    <%= form_for @request do |f| %>

      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.fields_for :day, @request.build_day do |day_field| %>
        <%= day_field.date_select(:dayoff, :order => [:month, :day, :year]) %>
    <% end %>
      <%= f.label :reason %>
      <%= f.text_field :reason, required: true %>
      <%= f.submit %>
  <% end %>

  <ul>
    <% @user.requests.each do |request| %>
  <li><%= request.day.dayoff %>
  <%= request.reason %> <%= link_to "Edit", edit_request_path %></li>
<% end %>
</ul>




<p><%= link_to "Sign out", logout_path, method: :delete %></p>
