<p><h1>Hi, <%=@user.username%></h1></p>

  <h3>Log Days</h3>

  <%= render 'requests/form' %>

  <ul>
    <% @user.requests.each do |request| %>
  <li><%= request.day.dayoff %>
  <%= request.reason %> <%= link_to "Edit", edit_request_path(request.id) %> <%= link_to "Delete", "/requests/#{request.id}", method: :delete %></li>
<% end %>
</ul>

<p><%= link_to "Add Your Title", "/users/#{current_user.id}/titles/new" %></p>
<p><%= link_to "Sign out", logout_path, method: :delete %></p>
