<h1>Please Log Your Days Off Below</h1>

  <%= form_for @day do |f| %>

    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.fields_for :day, @day.build do |day_field| %>
      <%= day_field.date_select(:dayoff, :order => [:month, :day, :year]) %>
  <% end %>
    <%= f.label :reason %>
    <%= f.text_field :reason %>
    <%= f.submit %>
<% end %>

<p><%= link_to "Sign out", logout_path, method: :delete %></p>
