<h1>Please Log Your Days Off Below</h1>

<%= form_for @day do |f| %>

  <%= f.label :dayoff %>
  <%= f.date_select(:dayoff, :order => [:month, :day, :year]) %>

  <!-- <%= f.label :reason %>
  <%#= f.text_field :reason %> -->

  <%= f.submit "Submit" %>
<% end %>
