<% if !logged_in? %>
  <h1>Please <%= link_to 'login', login_path %>, <%= link_to 'signup', '/users/new' %> or <%= link_to 'login via Facebook', '/auth/facebook' %> to view your days off.</h1>

<% else %>
  <h1>Welcome <%= current_user.username %></h1>

  <h3>Go to <%= link_to 'Office Homepage', days_path %></h3>

  <h3>Log <%= link_to 'days off', user_path(@user) %></h3>

  <p><%= link_to "Sign out", logout_path, method: :delete %></p>

<% end %>
